.app__footaddress {
    height: 156px;
    line-height: 156px;
    background-color: #1F1F1F;
    color: #FFFFFF;
    text-align: center;
  
    .app__tab {
      display:inline-block; 
      margin-left: 20px; 
    }
  
}