.app__header {
  //background-color: #000000;
  color: white;
  height: 336px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 200;

  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://static1.squarespace.com/static/56103c12e4b02dbd233e1376/t/5ad02a6870a6adbfd8865c12/1526253766126/ban.jpg?format=2500w");

  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  height: 372px;

  button {
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    border-width: medium;
    font-weight: bold;
    letter-spacing: 2px;
    height: 60px;
  }

  &:before {
    background-color: white;
    bottom: 0;
    content: "";
    height: 0.2rem;
    left: 0;
    position: absolute;
    right: 0;
  }

  > .app__container {
    //align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    padding: $grid-gutter-width / 2 0;
    max-width: 2000px;
  }

  h1 {
    color: #000;
    font-family: Bungee, sans-serif;
    font-size: 4rem;
    margin: 0;

    > * {
      vertical-align: middle;
    }

    span {
      display: inline-block;
      margin-left: $grid-gutter-width / 2;
    }
  }

  .app__logo svg {
    width: 5rem;
  }

  &__menu {
    flex: 1;
    background: transparent;
    max-width: 930px;
    display: inline-block;
    padding-right: 15px;

    ul {
      display: flex;
      justify-content: flex-end;
      align-content: space-between;
      line-height: 1;
      margin-bottom: 0;

      li {
        &:not(:last-child) {
          margin-right: $grid-gutter-width / 3;
        }
      }
    }

    a {
      font-size: 1.3rem;

      @include lg {
        font-size: 1.6rem;
      }

      &.active {
        color: #fff;
      }

      span {
        display: inline-block;
        margin-left: $grid-gutter-width / 12;
        text-transform: uppercase;
      }
    }
  }

  a {
    color: white;
    font-size: 1.6rem;
  }

  .folder {
    position: relative;
    display: inline-block;
  }

  .subnav {
    background-color: #212121;
    margin-top: 25px;
    display: none;
    flex-flow: wrap;
    justify-content: space-between;
    position: absolute;
    height: auto;
    max-height: 999px;
    text-align: left;
    z-index: 1;
    min-width: 160px;
    margin-right: 50px;
    left: 0px;
  }

  .subnav a {
    padding: 10px 15px;
    letter-spacing: 3px;
  }

  .open {
    display: inline-flex;
  }

  .list-unstyled {
    display: flex;
    justify-content: space-around;
  }

  .list-unstyled li {
    margin: 2.5% 0 0 0;
    letter-spacing: 2px;
    font-weight: bold;
    &:last-child {
      margin: 0;
    }
  }

  .list-unstyled a {
      text-decoration: none;
  }

  &_freebutton {
    margin-top: 3px;
  }

  &_freebutton > button {
    color: white;
    opacity: 1;
    padding-left: 22px;
  }

  &_freebutton > button:hover {
    background-color: white;
  }

  .toggle {
    cursor: pointer;
  }

}
