.app__freetrial_description {
  padding-top: 100px;

  h1 {
    text-align: center;
  }
}

.app__form_container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.app__form {
  padding-top: 25px;

  .app__form_item {
    padding-top: 25px;
  }

  .app__form_addresssub {
    padding-top: 5px;
    padding-left: 2px;
    font-size: 10px;
  }

  .app__form_dropdownbox {
    width: 200px;
  }

  .app__form_input {
    width: 100%;
    padding-top: 10px;
  }

  .btn-outline-secondary {
    width: 150px;
  }

  .btn-primary {
    background-color: black;
    border-color: white;
    width: 150px;
    // border-radius: 10px;
    // color: black;
  }
}
